#counter{
    display: block;
    font-size: 50px;
    font-weight: 800;
    text-align: center; 
}
#decreasebtn{
    padding: 3% 5%;
    background-color: rgb(181, 151, 209);

}
#resetbtn{
    padding: 3% 5%;
    background-color: rgb(183, 146, 218);

}
#increasebtn{
    padding: 3% 5%;
    background-color: rgb(175, 146, 202);
}

.buttons{
    text-align: center;
}